<div class="container" id="mainContainer">
    <h1 id="homeHead">Welcome to Book Finder</h1>
   <!-- <p id="homePara">You can find books here</p>
    <p>There are lot of books</p> -->
    <div id="result">
    </div>

</div>
