body
{
   /* background-color:aqua; */
}
#homeHead
{
    color:black;
}
#homePara
{
    color:rebeccapurple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mainContainer
{
    margin-top: 70px;
}
#result
{
}